<a href="https://colab.research.google.com/github/bhagirathbhard/BA775_Notebook/blob/nightly/Team1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Startup Investments in India Market
**By: Yicheng Jiang, Bhagirath Bhardwaj, Agnes Shih, Paul Seiters, and Siddharth Bookinkere**

## Outline

#### I. Project Overview, Data Source Description and Exploratory Statistics

      1. Project Overview 
      2. Data Source Description
      3. Exploratory Statistics

#### II. What year had the most amount of start ups funded? What is the overall trend of Start up funding in India? 

#### III. What type of start ups are funded the most? 

#### IV: What cities in India had the highest amount of start ups funded in India? Is there any reason that comes to attention?

#### V: What startups had the highest funded every year?

#### VIII: Conclusion

#### IX: Public Tableau Dashboard

# I. Project Overview, Data Source Description and Exploratory Statistics
      1. Project Overview 

We are an old and very traditional money manager from the USA, investing almost exclusively in the US. After the US economy had lost a lot of its growth trajectory and the FED predicted GDP growth to linger below a mere 2% annually, our clients have been running from our investment products. Where are they all going? After booking a tee time with one of our long-time clients, we heard some adolescents with smartphones talking about the start-up scene in India. There were wild tales about startups with valuations beyond $1B, called unicorns. Apparently, there was not a hint of a slowing economy over there. Is it time to go international? After multiple people confirmed the start-up hype in India, we concluded that it is time to get ourselves a snapshot of what is going on in India. Who is investing? Where are they investing? And most importantly, which companies are they investing in? As a team, we perform data cleaning, exploratory data analysis, and finally, create a visualization in Tableau. Also, we chose the Indian Startup Funding dataset collected from multiple sources because of the varied types of funding covered, the sizable number of observations, and the time coverage from 2015 until May 2022, including the Covid-19 phase.

    2. Data Source Description

1.   Indian Startup Funding & Investment Chart [2021] (Trak.in link)
2.   Indian Startups - Funding & Investors Data [2018-2021] (Kaggle link)
3.   Indian Startup Funding & Investment Chart [2021] (Trak.in link)
4.   Indian Startups - Funding Data [2022] (Kaggle link)
5.   Funding details of the startups in India (Kaggle link)

    3. Preview of the Dataset

In [2]:
#Connect to Google Big Query
from google.colab import auth
auth.authenticate_user()

In [3]:
## Perform (Table Union) PLEASE DO NOT TOUCH -- VICTOR
%%bigquery --project=ba775-team-project-a01

SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
;

,Funding_Year,Company_Name,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
0,2019,Nu Genes,AgriTech,Telangana,Innovation in Food and Agriculture (IFA),None,6000000,"It is a seed company engaged in production, pr..."
1,2019,Pumpkart,E-marketplace,Chandigarh,Dinesh Dua,None,Undisclosed,B2B model for appliances and electrical products
2,2019,Smart Institute,Edtech,Surat,HNI investors,None,1500000,A platform to learn online
3,2019,Kratikal,Technology,Uttar pradesh,"Gilda VC, Art Venture, Rajeev Chitrabhanu",Pre-series A,1000000,Provides cyber security solutions
4,2019,Ess Kay Fincorp,Banking,Rajasthan,"TPG, Norwest Venture Partners, Evolvence India",None,33000000,Organised Non-Banking Finance Company
...,...,...,...,...,...,...,...,...
5689,2020,Max wholesale,E-commerce,New Delhi,"Al Falaj Commercial Investment Co, Vistra ITCL...",None,"603,000",MaxWholesale is an online distributor that pro...
5690,2020,High Street Essentials,Ecommerce,New Delhi,"SAIF Partners, India Quotient",Pre series C,"2,743,000",The parent company of women's fashion brands F...
5691,2020,Agro2o,Agritech,New Delhi,Mumbai Angels Network,None,Undisclosed,It develops products focused on making hydropo...
5692,2020,Eupheus Learning,Edtech,New Delhi,Yuj Ventures,Series A,"4,300,000","Provides technology-led, subscription-based le..."
5693,2020,Harappa Education,Edtech,New Delhi,James Murdoch-led Lupa Systems,None,Undisclosed,Provides online courses on foundational skills

In [4]:
## Perform (Table Union)
%%bigquery --project=ba775-team-project-a01

SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
;

,Funding_Year,Company_Name,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
0,2019,Nu Genes,AgriTech,Telangana,Innovation in Food and Agriculture (IFA),None,6000000,"It is a seed company engaged in production, pr..."
1,2019,Pumpkart,E-marketplace,Chandigarh,Dinesh Dua,None,Undisclosed,B2B model for appliances and electrical products
2,2019,Smart Institute,Edtech,Surat,HNI investors,None,1500000,A platform to learn online
3,2019,Kratikal,Technology,Uttar pradesh,"Gilda VC, Art Venture, Rajeev Chitrabhanu",Pre-series A,1000000,Provides cyber security solutions
4,2019,Ess Kay Fincorp,Banking,Rajasthan,"TPG, Norwest Venture Partners, Evolvence India",None,33000000,Organised Non-Banking Finance Company
...,...,...,...,...,...,...,...,...
5689,2021,Eupheus Learning,E-learning,New Delhi,Lightrock India,Series C,"10,000,000",Offer pedagogically differentiated technology ...
5690,2021,Boutique Spirit Brands,Wine & Spirits,New Delhi,"IIFL﻿, ﻿Anicut Angel Fund﻿, ﻿Kae Capital﻿, Tra...",None,"10,000,000",Boutique Spirit Brands is a leading Brand crea...
5691,2021,Paytail,Financial Services,New Delhi,Cholamandalam,Seed,"1,500,000",Paytail is revolutionizing the offline commerc...
5692,2021,GoKwik,Information Technology & Services,New Delhi,"Matrix Partners India, Jitendra Gupta, RTP Global",Pre-series A,"5,000,000",GoKwik is a platform for solving shopping expe...
5693,2021,Vahdam,Food & Beverages,New Delhi,IIFL AMC,Series D,"20,000,000",VAHDAM is among the world’s first vertically i...

**Bhagirath**

Dataset Qualification Criteria -

       8+ Columns
       5k+ Rows

In [19]:
%%bigquery --project=ba775-team-project-a01
WITH Indian_Startup AS(
SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
)

SELECT COUNT(*) AS number_of_rows
FROM `Indian_Startup`;

   number_of_rows
0            5694

In [21]:
%%bigquery --project=ba775-team-project-a01
WITH Indian_Startup AS(
SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
)

SELECT COUNT(Funding_Year) AS null_count
FROM `Indian_Startup`
WHERE Funding_Year IS NULL;

   null_count
0           0

# Inspecting the Dataset

How many unique cities are in the dataset?

In [25]:
%%bigquery --project=ba775-team-project-a01
WITH Indian_Startup AS(
SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
)

SELECT HeadQuarter, COUNT(*)
FROM `Indian_Startup`
WHERE HeadQuarter IS NOT NULL
GROUP BY HeadQuarter
ORDER BY HeadQuarter DESC;

                    HeadQuarter  f0_
0                         Noida    1
1                     New Delhi    3
2                        Mumbai    1
3                       Gurgaon    4
4                     Bangalore    1
..                          ...  ...
212  Alibaba, Foxconn, Softbank    1
213                   Ahmedabad   69
214                   Ahmadabad    6
215                   Ahemdabad    1
216                        Agra    2

[217 rows x 2 columns]

In [5]:
%%bigquery --project=ba775-team-project-a01

WITH cte_table AS(
SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`)

SELECT * from cte_table;

,Funding_Year,Company_Name,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
0,2022,Dyte,IT Services and IT Consulting,Bengaluru,Multiples,undisclosed,"15,300,000",Dyte provides the easiest way to add real-time...
1,2022,Kirana Bazaar,Oline grocery,Gurgaon,Multiples,undisclosed,"32,800,000",Kirana Bazaar is a neighborhood store network ...
2,2022,Phool,Enviromental Engineering,kanpur,Multiples,undisclosed,"9,400,000",Phool is a biomaterial startup.
3,2022,Doceree,Information Technology & Services,Parsippany,Multiples,undisclosed,"12,000,000",Doceree is a fully integrated programmatic ad ...
4,2022,Acko,Health insurance,Mumbai,Multiples,Series D,"458,000,000",Acko is a digital insurance company with a lic...
...,...,...,...,...,...,...,...,...
423,2022,Kolo,Construction,Singapore,Better Capital and RTP Globa,Seed,"4,600,000",Home Construction App
424,2022,None,Retail Technology,Gurgaon,Multipoint Capital and Btomorrow Ventures,$Series A,"6,400,000",ParallelDots is an image recognition platform ...
425,2022,BharatX,Financial Services,Benglaru,Ankur Aggarwal and Vikas Choudhury,Seed,"4,800,000",BharatX is a Embedded Consumer Credit company ...
426,2022,Hono,Software,Haryana,Harsh Gupta and Amit Khanna,Series A,"39,000,000",Hono is a provider of HR solutions and services.
427,2022,MoEVing,Electric Vehicle,Gurgaon,Stride Ventures and TradeCred,Seed,"1,000,000",MoEVing is a technology-driven firm with the g...

# Questions Answered (Bhagirath)

What year had the most amount of start ups funded? What is the overall trend of Start up funding in India? 

**Answer: 2021**

In [8]:
%%bigquery --project=ba775-team-project-a01

WITH test_table AS(
SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
)

SELECT Funding_Year, COUNT(*) AS startups_funded 
FROM test_table 
GROUP BY Funding_Year
ORDER BY Funding_Year ASC;

   Funding_Year  startups_funded
0          2015              679
1          2016             1018
2          2017              690
3          2018              526
4          2019               89
5          2020             1055
6          2021             1209
7          2022              428

How many companies founded which are Software Related?

**Answer: 41**

In [17]:
%%bigquery --project=ba775-team-project-a01

WITH test_table AS(
SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
)

SELECT Sector, COUNT(*) AS Software_Related
FROM test_table
WHERE Sector LIKE '%Software%'
GROUP BY Sector
ORDER BY Sector DESC;

                                               Sector  Software_Related
0                    Contact Center Software Platform                 1
1                     Spa & Salon Management Software                 1
2                           Software, Virtual Reality                 1
3                                    Software company                 3
4                                    Software Startup                 2
5                                Software Development                 4
6                                    Software Company                 1
7                                            Software                16
8                       Sales & Productivity Software                 1
9                   Psychometric Test Online Software                 1
10                             Online Games, Software                 1
11                           Mobile, Software, Travel                 1
12                        Mobile Compression Software                 1
13                                 Internet, Software                 1
14  Information Services, Information Technology, ...                 1
15                 Hotel Mobile CRM Software platform                 1
16       Government, Information Technology, Software                 1
17                         Financial Markets Software                 1
18  Enterprise Software, Health Care, Hospital, Pa...                 1
19                                Enterprise Software                 2
20  Education, Information Technology, Internet, M...                 1
21  EdTech, Education, Enterprise Software, Peer t...                 1
22              Ecommerce Marketing Software Platform                 1
23                      Data Center Software platform                 1
24  Customer Service, Software, Video, Video Strea...                 1
25              Content Management Software Solutions                 1
26  Consumer Electronics, Embedded Systems, Hardwa...                 1
27                      Computer, Furniture, Software                 1
28       Computer, FinTech, Risk Management, Software                 1
29                                  Computer Software                46
30        Communities, Leisure, Mobile Apps, Software                 1
31                          Cloud Enterprise Software                 1
32  Cloud Computing, Enterprise Software, Network ...                 1
33                Cloud Computing, Computer, Software                 1
34          Cloud Computing, Computer, SaaS, Software                 1
35   Blockchain, Developer Tools, Enterprise Software                 1
36  Big Data, Data Visualization, Logistics, Software                 1
37  Artificial Intelligence, Product Search, SaaS,...                 1
38                Apps, Mobile, Mobile Apps, Software                 1
39  Apps, Collaboration, Developer Platform, Enter...                 1
40  Analytics, Computer Vision, Enterprise Softwar...                 1

In [ ]:
%%bigquery --project=ba775-team-project-a01

WITH test_table AS(
SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
)

SELECT * FROM test_table WHERE Sector = 'Technology' AND HeadQuarter = 'Bangalore' ORDER BY USD_Amount ASC;

# Questions Answered (Agnes)

## 1. Which Technology company receives the highest funding in Bangalore? Answer: QTalk		    (Agnes)

In [ ]:
%%bigquery --project=ba775-team-project-a01

WITH test_table AS(
SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
)

SELECT * FROM test_table WHERE Sector = 'Technology' AND HeadQuarter = 'Bangalore' ORDER BY USD_Amount ASC;

,Funding_Year,Company_Name,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
0,2020,QTalk,Technology,Bangalore,"Accel India, Lightspeed Venture Partners",Seed Round,"1,600,000",Smart Phone Dialer
1,2017,MergerWare,Technology,Bangalore,Philippe Bouchet,Seed Funding,100000,Software solutions for M&As
2,2016,Intgrea,Technology,Bangalore,Undisclosed Investor,Seed Funding,100000,Post merger Integration Partners
3,2016,RayIOT,Technology,Bangalore,HAX Accelerator,Seed Funding,100000,Baby Monitoring Devices manufacturer
4,2016,Cyclops,Technology,Bangalore,Kalaari Capital,Seed Funding,100000,Clinical and Wearable Diagnostic Product creator
...,...,...,...,...,...,...,...,...
121,2016,ShubhLoans,Technology,Bangalore,"Sanjai Vohra, V. Bunty Bohra",Seed Funding,N/A,Consumer Finance & Credit Score platform
122,2016,Vehico,Technology,Bangalore,"Calcutta Angel Network, Appliyifi",Seed Funding,N/A,Connected Transportation solutions
123,2016,MoEngage,Technology,Bangalore,Anand Chandrasekaran,Seed Funding,N/A,User analytics and engagement platform
124,2016,Ten3t Health,Technology,Bangalore,"V. Krishna Prasad, Bhupen Shah & Others",Seed Funding,N/A,medical grade wearable patch maker
125,2016,Pandorum Technologies,Technology,Bangalore,"Sachin Bansal, Binny Bansal",Seed Funding,N/A,3D printed experimental Human Liver tissue cre...

##2. How many companies have multiple investors in 2015-2022? Answer: 32 (Agnes)

In [ ]:
%%bigquery --project=ba775-team-project-a01

WITH test_table AS(
SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
)

SELECT * FROM test_table WHERE Investor = 'Multiples';

,Funding_Year,Company_Name,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
0,2022,Dyte,IT Services and IT Consulting,Bengaluru,Multiples,undisclosed,"15,300,000",Dyte provides the easiest way to add real-time...
1,2022,Kirana Bazaar,Oline grocery,Gurgaon,Multiples,undisclosed,"32,800,000",Kirana Bazaar is a neighborhood store network ...
2,2022,Phool,Enviromental Engineering,kanpur,Multiples,undisclosed,"9,400,000",Phool is a biomaterial startup.
3,2022,Doceree,Information Technology & Services,Parsippany,Multiples,undisclosed,"12,000,000",Doceree is a fully integrated programmatic ad ...
4,2022,Acko,Health insurance,Mumbai,Multiples,Series D,"458,000,000",Acko is a digital insurance company with a lic...
5,2022,FirstCry,Online shopping,Pune,Multiples,undisclosed,"74,140",FirstCry is an online shopping store offering ...
6,2022,Meesho,Online shopping,Bangalore,Multiples,Series F,"1,100,000,000",Meesho operates as an online reselling platfor...
7,2022,NoBroker,Housing rent,Bangalore,Multiples,Series E,"426,000,000",NoBroker is a real-estate platform that makes ...
8,2022,Paytm,Financial services,Noida,Multiples,undisclosed,"1,200,000,000",Paytm is a digital payments start-up that offe...
9,2022,ShareChat,Social networking,Bangalore,Multiples,Series G,"1,400,000,000",ShareChat is a social networking and regional ...
10,2022,Spinny,Financial services,None,Multiples,Series E,"513,500,000",Spinny is a used car buying platform enabling ...
11,2022,Unacademy,E-learning,Bangalore,Multiples,Series H,"838,500,000",Unacademy is an online learning platform that ...
12,2022,Urban Company,E-commerce,Gurgaon,Multiples,Series H,"445,900,000",Urban Company provides a marketplace for freel...
13,2022,Xpressbees,E-commerce Logistics,Pune,Multiples,Series F,"577,600,000",Xpressbees is an e-commerce logistics company ...
14,2022,Accel,Financial services,Palo Alto,Multiples,undisclosed,"18,300,000,000",Accel is an early and growth-stage venture cap...
15,2022,MTR Foods,Food packaging,Bangalore,Multiples,undisclosed,Undisclosed,MTR Foods is a food products company
16,2022,Oyo,Travel Arrangements,Gurgaon,Multiples,Series F,"550,000,000",OYO is a global travel tech company that conne...
17,2022,Eruditus,Education Management,Bangalore,Multiples,Series E,"1,200,000,000",Eruditus provides global access to executive e...
18,2022,CARS24,Automobile,Gurgaon,Multiples,Series G,"1,300,000,000",CARS24 offers a tech-enabled marketplace for b...
19,2022,BharatPe,Financial services,New delhi,Multiples,Series E,"700,500,000",BharatPe is a financial services platform that...
20,2022,Blackbuck,Information services,Bengaluru,Multiples,Series E,"364,000,000",Blackbuck is an Indian logistics company that ...
21,2022,Droom,Automotive,Haryana,Multiples,Series F,"333,000,000",Droom is a tech and data science-driven online...
22,2022,MindTickle,Software company,San Francisco,Multiples,Series E,"281,000,000",MindTickle is a software company that offers s...
23,2022,Vedantu,E-learning,Bangalore,Multiples,Series E,"292,900,000",Vedantu is an interactive online tutoring plat...
24,2022,CoinDCX,Currency exchange,Mumba,Multiples,Series C,"109,000,000",CoinDCX operates as a cryptocurrency exchange ...
25,2022,Razorpay,Financial services,Bangalore,Multiples,Series F,"741,600,000",Razorpay is a platform that enables businesses...
26,2022,Licious,Food,Bengaluru,Multiples,Series F,"488,700,000",Licious is an online meat and seafood ordering...
27,2022,CoinSwitch Kuber,Financial services,Bangalore,Multiples,Series C,"300,600,000",CoinSwitch Kuber is a cryptocurrency exchange ...
28,2022,Zeta,Financial services,San Francisco,Multiples,None,"30,000,000",Zeta is a modern banking tech company providin...
29,2022,Verse Innovation,Internet Publishing,Bengaluru,Multiples,Series J,"1,700,000,000",Verse Innovation facilitates content curation ...
30,2022,Lenskart,E-commerce,Faridabad,Multiples,Series I,"899,300,000",Lenskart is an India-based online shopping por...
31,2022,Kogta Financial,Financial Services,Jaipur,Multiples,Series D,"111,000,000",Kogta Financial (I) Ltd is a retail focused No...

##3. Total number of Consumer Internet companies invested in Private Equity?
Answer: 360 (Agnes)

In [ ]:
%%bigquery --project=ba775-team-project-a01

WITH test_table AS(
SELECT Funding_Year,Company_Name,Sector,Location As HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2022`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2021`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_is_does AS What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2020`
UNION ALL
SELECT Funding_Year,Company AS Company_Brand,Sector,HeadQuarter,Investor,Stage,Amount___ AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2019`
UNION ALL
SELECT Funding_Year,Company_Name AS Company_Brand,Industry as Sector,Location as HeadQuarter,Investor,Round AS Stage,USD_Amount,About_Company as What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2018`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,_Amount AS USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2017`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2016`
UNION ALL
SELECT Funding_Year,Company_Brand,Sector,HeadQuarter,Investor,Investment_Type as Stage,USD_Amount,What_it_does
FROM `ba775-team-project-a01.Indianstartups.India_Funding_2015`
)

SELECT * FROM test_table WHERE Sector = 'Consumer Internet' AND  Stage = 'Private Equity';

,Funding_Year,Company_Name,Sector,HeadQuarter,Investor,Stage,USD_Amount,What_it_does
0,2016,Alef,Consumer Internet,Mumbai,Tata Capital Innovation Fund,Private Equity,5000000,Cloud Mobility Solutions
1,2016,Zebpay,Consumer Internet,Ahmedabad,"Arjun Handa, Amit Jindal, Nagendra Chaudhary",Private Equity,1000000,Bitcoin Buying & Selling Mobile App
2,2016,MakeMyTrip,Consumer Internet,Gurgaon,Ctrip.com International Ltd,Private Equity,180000000,Online Travel/Hotel Booking platform
3,2016,FreshMenu,Consumer Internet,Bangalore,"Zodius Capital, Lightspeed Venture Partners",Private Equity,16500000,Online / Mobile Food Ordering platform
4,2016,Hike Messenger,Consumer Internet,New Delhi,"Matt Mullenweg, Adam D’Angelo, Aditya Agarwal,...",Private Equity,N/A,P2P Messaging Service
...,...,...,...,...,...,...,...,...
355,2017,Fingerlix,Consumer Internet,Bangalore,"Accel Partners, Zephyr Peacock",Private Equity,7000000,Food Ordering Portal
356,2017,Bank Bazaar,Consumer Internet,Chennai,Experian,Private Equity,7000000,Online Financial Marketplace
357,2017,Toppr,Consumer Internet,Mumbai,"SAIF Partners, Helion Ventures, FIL Capital Ma...",Private Equity,7000000,Mobile based learning app
358,2017,ZipLoan,Consumer Internet,New Delhi,"Matrix Partners India, WaterBridge Ventures, W...",Private Equity,3000000,SME lending platform
359,2017,Ola Cabs,Consumer Internet,Bangalore,ANI Technologies Pvt. Ltd,Private Equity,7700000,App based cab hailing services